<h1>New puzzle</h1>

<form id="new-puzzle" name="puzzle">
  <div class="field">
    <label for="guid"> guid:</label>
    <input type="text" name="guid" id="guid" value="<%= guid %>" >
  </div>

  <div class="field">
    <label for="codeFamily"> codeFamily:</label>
    <input type="text" name="codeFamily" id="codeFamily" value="<%= codeFamily %>" >
  </div>

  <div class="field">
    <label for="codeVariant"> codeVariant:</label>
    <input type="text" name="codeVariant" id="codeVariant" value="<%= codeVariant %>" >
  </div>

  <div class="field">
    <label for="codeModel"> codeModel:</label>
    <input type="text" name="codeModel" id="codeModel" value="<%= codeModel %>" >
  </div>

  <div class="field">
    <label for="serialNumber"> serialNumber:</label>
    <input type="text" name="serialNumber" id="serialNumber" value="<%= serialNumber %>" >
  </div>

  <div class="field">
    <label for="versionMajor"> versionMajor:</label>
    <input type="text" name="versionMajor" id="versionMajor" value="<%= versionMajor %>" >
  </div>

  <div class="field">
    <label for="versionMinor"> versionMinor:</label>
    <input type="text" name="versionMinor" id="versionMinor" value="<%= versionMinor %>" >
  </div>

  <div class="field">
    <label for="builderVersion"> builderVersion:</label>
    <input type="text" name="builderVersion" id="builderVersion" value="<%= builderVersion %>" >
  </div>

  <div class="field">
    <label for="creationDate"> creationDate:</label>
    <input type="text" name="creationDate" id="creationDate" value="<%= creationDate %>" >
  </div>

  <div class="field">
    <label for="releaseDate"> releaseDate:</label>
    <input type="text" name="releaseDate" id="releaseDate" value="<%= releaseDate %>" >
  </div>

  <div class="field">
    <label for="data"> data:</label>
    <input type="text" name="data" id="data" value="<%= data %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Puzzle" />
  </div>

</form>

<a href="#/index">Back</a>