<td><%= guid %></td>
<td><%= family_name %></td>
<td><%= variant_name %></td>
<td><%= codeModel %></td>
<td><%= serialNumber %></td>
<td><%= versionMajor %></td>
<td><%= versionMinor %></td>
<td><%= builderVersion %></td>
<td><%= creationDate %></td>
<td><%= releaseDate %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
