<p>
  <b>Guid:</b>
  <%= guid %>
</p>

<p>
  <b>Codefamily:</b>
  <%= codeFamily %>
</p>

<p>
  <b>Codevariant:</b>
  <%= codeVariant %>
</p>

<p>
  <b>Codemodel:</b>
  <%= codeModel %>
</p>

<p>
  <b>Serialnumber:</b>
  <%= serialNumber %>
</p>

<p>
  <b>Versionmajor:</b>
  <%= versionMajor %>
</p>

<p>
  <b>Versionminor:</b>
  <%= versionMinor %>
</p>

<p>
  <b>Builderversion:</b>
  <%= builderVersion %>
</p>

<p>
  <b>Creationdate:</b>
  <%= creationDate %>
</p>

<p>
  <b>Releasedate:</b>
  <%= releaseDate %>
</p>

<p>
  <b>Data:</b>
  <%= data %>
</p>


<a href="#/index">Back</a>