<!DOCTYPE html>
<html>
<head>
  <title>Conceptis Puzzles Collection</title>
  <link rel="shortcut icon" href="/favicon.ico?v=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="login-table">
  <table>
    <tr>
      <td>
        <div class="login" <%if @current_user%>style="display:none"<%end%>>
          <a href='#' class="login-btn">Login via Google</a>
        </div>
        <div class="logout" <%if !@current_user%>style="display:none"<%end%>>
        <div class="user-info"><%if @current_user%>Welcome, <%=@current_user.name%><%end%></div>
          [<a href='#' class="logout-btn">logout</a>]
        </div>
      </td>
      <td class="flash-note"></td>
    </tr>
  </table>
</div>
<%= yield %>

</body>
</html>
